html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  color: #435259;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}
a,
input,
textarea {
  outline: transparent;
  color: #435259;
}
input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #435259;
  text-align: left;
  padding: 5px 16px;
  height: 50px;
}
select {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #435259;
  height: 50px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #435259;
}
img {
  object-fit: cover;
}
a:hover {
  opacity: 0.7;
}
button {
  border: none;
  background: #80ba26;
  color: #f2f2f2;
  padding: 8px 15px 8px 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 500ms ease;
  cursor: pointer;
  margin-right: 5px;
  display: inline-block;
}

button:hover,
button:focus {
  background: rgba(0, 0, 0, 0);
  color: #80ba26;
  box-shadow: inset 0 0 0 3px #80ba26;
}

button:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}