@import "reset";
@import "global";
.header {
  position: fixed;
  border-bottom: 2px solid #e9edf0;
  border-top: 2px solid #e9edf0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  &__inner {
    padding: 10px 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-right: 20px;
    font-weight: 700;
    font-size: 16px;
  }
  &__admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 150px;
    &-img{
      max-width: 30px;
    }
    &-span{
      font-weight: 600;
      font-size: 16px;
    }
  }
  &__menu{
    display: none;
    &--noHover{
      display: none;
      &:hover{
        background: transparent !important;
        color: transparent;
        box-shadow: transparent !important;
      }
    }
  }
}
.logo {
  &__img {
    width: 100px;
  }
}
.registr {
  height: 100%;
  &__inner {
    display: flex;
    padding: 80px 0 50px;
  }
  &__item {
    &--left {
      width: 25%;
      height: 100%;
    }
    &--rigth {
      width: 75%;
      max-width: 700px;
    }
  }
  &__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  &__with {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__btn {
    width: 160px;
    font-weight: 700;
    min-height: 60px;
    padding-right: 10px;
    font-size: 14px;
    &--vk {
      background-color: #2e6fba;
      position: relative;
      &:hover {
        color: #2e6fba;
        box-shadow: inset 0 0 0 3px #2e6fba;
      }
    }
    &--facebook {
      background-color: #3b61ad;
      position: relative;
      &:hover {
        color: #3b61ad;
        box-shadow: inset 0 0 0 3px #3b61ad;
      }
    }
    &--google {
      background-color: #ec4436;
      position: relative;
      &:hover {
        color: #ec4436;
        box-shadow: inset 0 0 0 3px #ec4436;
      }
    }
  }
  &__span {
    position: absolute;
    width: 25px;
    left: 5px;
    bottom: 5px;
  }
  &__input {
    margin-bottom: 25px;
    &--chageDispaly{
      display: flex;
    }
  }
  &__field {
    position: relative;
  }
  &__label {
    position: relative;
    &-span {
      position: absolute;
      z-index: 10;
      width: 200px;
      top: 2px;
      font-size: 10px;
      left: 17px;
    }
    &--halfWidth{
      width: 50%;
      display: inline-block;
    }
  }
}
.form {
  &__btn {
    width: 100%;
    min-height: 50px;
  }
}
.nav {
  padding: 0 20px 50px 0;
  &__item {
    margin-bottom: 12px;
  }
  &__link {
    font-weight: 600;
    font-size: 16px;
  }
  &__title{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px;
  }
  &__list{
    &--admin{
      margin-bottom: 25px;
    }
  }
}
.footer {
  background-color: #bbbbbb;
  border-top: 2px solid #e9edf0;
  &__inner {
    padding: 30px 0 30px;
    display: flex;
  }
  &__item {
    &--left {
      width: 25%;
    }
    &--right {
      width: 75%;
      display: flex;
      justify-content: flex-end;
      margin-right: 100px;
    }
  }
  &__text {
    padding: 15px 0 15px;
    font-weight: 600;
    font-size: 16px;
  }
  &__svg {
    max-width: 150px;
    display: flex;
    justify-content: space-around;
    &-link {
      &:hover {
        opacity: 1;
      }
    }
    &-img {
      transition: all 0.3s;
      fill: #435259;
      &:hover {
        fill: #a5ce66;
        -webkit-transform: scale(140%);
        -ms-transform: scale(140%);
        transform: scale(140%);
      }
    }
  }
  &__list {
    margin-right: 50px;
    max-width: 250px;
  }
  &__item {
    margin-bottom: 5px;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
  }
}
.admin{
  &__items{
    &--right{
      max-width: 880px;
      padding-top: 50px;
     
    }
  }
  &__item{
    display: flex;
    justify-content: space-between;
     margin-bottom: 30px;
     
  }
  &__box{
    width: 45%;
    height: 270px;
  }
}

@import "media";